<html lang='en'>
  <head>
     <link href="./css/reset.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Wharf Rats</title>

    

  </head>

  <body>
      <nav>
    <div class="nav-wrapper">
      <button data-target="modal1" class="waves-effect waves-light btn modal-trigger">Sign Up</button>
      {{#if logged_in}}
      <a id='logout' class="waves-effect waves-light btn modal-trigger">Logout</a>
      {{else}}
      <button data-target="modal2" class="waves-effect waves-light btn modal-trigger">Login</button>
      {{/if}}

  <!-- Modal Structure -->
  <div id="modal1" class="modal signup-form ">
    <div class="modal-content">
      <h4 class="modal-text">Sign Up</h4>
      <div class='row' id="modal1">
  <form id='signup-form' class='col s12'>
    <div class='row'>
      <div class='input-field col s12'>
        <input id='name' type='text' class='validate custom-input' />
          <label for='name' class="label-fix"> Name</label>
      </div>
    </div>
    <div class='row'>
      <div class='input-field col s12'>
         <input id='signup-password' type='password' class='validate custom-input' />
           <label class="label-fix" for='signup-password'>Password</label>
      </div>
    </div>
    <div class='row'>
      <div class='input-field col s12'>
         <input id='signup-email' type='email'  class='validate custom-input' />
           <label class="label-fix" for='signup-email'>Email</label>
      </div>
    </div>
     <div class="modal-footer">
     <button type="submit" class="cherry signup-form waves-effect waves-green btn-flat custom-input">Submit</button>
       <button class="modal-close waves-effect waves-green btn-flat custom-input">Close</button>
    </div>
  </form>
      </div>
    </div>
    </div>
 

  <!-- Modal Structure -->
  <div id="modal2" class="modal login-form ">
    <div class="modal-content ">
      <h4 class="modal-text">Login</h4>
       <div class='row' id="modal2">
  <form id='login-form' class='col s12'>
    <div class='row'>
      <div class='input-field col s12'>
        <input id="login-email"  type='text' class='validate custom-input' />
         <label class="label-fix" for='login-email'>Email</label>
      </div>
    </div>
    <div class='row'>
      <div class='input-field col s12'>
        <input id='login-password' type='password'  class='custom-input'/>
        <label class="label-fix" for='login-password'>Password</label>
       </div>
      </div>
    </div>
     <div class="modal-footer">
          <button type="submit" class="cherry login-form waves-effect waves-green btn-flat custom-input">Submit</button>
      <a  id="login-submit" class="modal-close waves-effect waves-green btn-flat custom-input">Close</a>
     </div>
  </form>
</div>
      
    </div>
    <a href="#" class="brand-logo center">Wharf Rats</a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
       </ul>
  </nav>

    {{{body}}}
        

    <!-- feature discovery test -->
    <a id='menu' class=' turts waves-effect waves-light  btn btn-floating '><img id="star" src="/images/grateful-dead-logo.svg" alt="gratefulDeadLogo"></a>
    <!-- Tap Target Structure -->
    <div class='tap-target'  data-target='menu' style='position: absolute; '>
      <div
        class='tap-target-content'
        style='
            {{!-- inset: 0px 0px 0px 384px; --}}
            display: flex;
            flex-direction: column;
            width: 150px !important;
            z-index: -500000;
            position:absolute;
           
          '
      >
      
        <form id='featureForm' class="on-top">
          <div class='yummy input-field col s12' style='margin: 10px 0px 10px 0'>
          <input id='input1' type='text' class='validate  teal-text text-darken-3' />
            <label for='input1' class='yummy'>Enter A Venue Here</label>
            <button id="search-venue"
              class='btn waves-effect waves-light submit-button'
              type='submit'
              name='action'
              style='margin-top: 10px'
            >
              Submit
            </button>
          </div>
          <div class='yummy input-field col s12' style='margin: 10px 0px 10px 0'>
            <p id='menu' class=''><a id='menu' class=''></a></p>
            <input id='input2' type='text' class='validate teal-text text-darken-3' />
            <label for='input2' class='yummy'>Enter A City Here</label>
           
            <button id='set-city'
              class='btn waves-effect waves-light submit-button'
              type='submit'
              name='action'
              style='margin-top: 10px'
            >
              Submit
            </button>
           
          </div>
      
          {{!-- <div class=' yummy input-field col s12' style='margin: 10px 0px 10px 0'>
          <p id='menu' class=''><a id='menu' class=''></a></p>
            <input id='input4' type='text' class='validate teal-text text-darken-3' />
            <label for='input4' class='yummy'>Enter A Song Title Here</label>
               <button
              class='btn waves-effect waves-light submit-button'
              type='submit'
              name='action'
              style='margin-top: 10px'
            >
              Submit
                </button>
            
     
          </div> --}}
          <div class='yummy input-field col s12' style='margin: 10px 0px 10px 0'>
           <p id='menu' class=''><a id='menu' class=''></a></p>
            <input id='input5' type='text' class='validate teal-text text-darken-3' />
            <label for='input5' class='yummy'>Add A Show</label>
            <button
              class='btn waves-effect waves-light submit-button'
              type='submit'
              name='action'
              style='margin-top: 10px'
            >
              Submit
                </button>
            
          </div>
          <div class='yummy input-field col s12' style='margin: 10px 0px 10px 0'>
            <p  id='menu' class=''><a id='menu' class=''></a></p>
            <input id='input6' type='text' class='validate teal-text text-darken-3' />
            <label for='input6' class='yummy'>Update A Show</label>
            <button
              class='btn waves-effect waves-light submit-button'
              type='submit'
              name='action'
              style='margin-top: 10px'
            >
              Submit
              </button>
          </div>
        </form>
      
      
    </div>
 {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}} 
  <script src="/js/home.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script src="/js/login.js"></script>
  <script src="/js/signup.js"></script>
  </body>
</html>