/* any css stylesheets can go in this folder */
/* hint- remember to import them in your handlebars! */

body{

    background-color: purple;
}
a.turts#menu{

  top: 40vh!important;
  left: 50vw !important;
  width: 80px !important;
  height: 80px !important;

}