/* any css stylesheets can go in this folder */
/* hint- remember to import them in your handlebars! */

body,
html {
  max-height: 100vh;
  margin: 0;
  overflow-y: hidden;
}

body {
  background: url('/images/deadhead.jpg');
  background-size: cover;
  background-position: center;
  max-height: 100vh;
}
.skele {
  margin-left: 25px;
}

.modal-text {
  color: whitesmoke;
}



a.turts#menu {
  top: 46vh !important;
  left: 46vw !important;
  width: 200px !important;
  height: 200px !important;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}


.hidden {
    display: none;
  }


.tap-target {
  color: black;
  /* position: absolute; */
  font-size: 1rem;
  border-radius: 50%;
  background-image: url('/images/record.svg');
  background-size: cover;
  -webkit-box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.14),
    0 10px 50px 0 rgba(0, 0, 0, 0.12), 0 30px 10px -20px rgba(0, 0, 0, 0.2);
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.14),
    0 10px 50px 0 rgba(0, 0, 0, 0.12), 0 30px 10px -20px rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition: opacity 0.3s cubic-bezier(0.42, 0, 0.58, 1),
    -webkit-transform 0.3s cubic-bezier(0.42, 0, 0.58, 1);
  transition: opacity 0.3s cubic-bezier(0.42, 0, 0.58, 1),
    -webkit-transform 0.3s cubic-bezier(0.42, 0, 0.58, 1);
  transition: transform 0.3s cubic-bezier(0.42, 0, 0.58, 1),
    opacity 0.3s cubic-bezier(0.42, 0, 0.58, 1);
  transition: transform 0.3s cubic-bezier(0.42, 0, 0.58, 1),
    opacity 0.3s cubic-bezier(0.42, 0, 0.58, 1),
    -webkit-transform 0.3s cubic-bezier(0.42, 0, 0.58, 1);
     /* animation: spin 2s linear infinite; */
}



@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body > div > div.tap-target > div {
  animation: unset;
}

body > div > div.tap-target > div::after {
  animation: none;
  background-color: pink;
}


.tap-target-wave::before,
.tap-target-wave::after {
  content: '';
  display: block;
  position: absolute;
  width: 50%;
  height: 50%;
  border-radius: 50%;
  background-color: #ffffff;
  top: 100px;
  left: 105px;
}

body > div > div.tap-target-wave{
    display: none;
    
}

.tap-target-wave.hidden {
  display: none;
}
.input-field>label {
    color: black;
    -webkit-text-stroke-width: 1px ;
    -webkit-text-stroke-color:white ;
    font-size: 20px;
}


.btn-floating {
  display: inline-block;
  color: #fff;
  position: relative;
  overflow: hidden;
  z-index: 1;
  width: 40px;
  height: 40px;
  line-height: 40px;
  padding: 0;
  background-color: white;
  border-radius: 50%;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  cursor: pointer;
  vertical-align: middle;
}

.btn-floating:hover {
  background: linear-gradient(
    to right,
    violet,
    indigo,
    blue,
    green,
    yellow,
    orange,
    red
  );
}

a.turts#menu > {
  display: flex;
  justify-content: center;
  align-items: center;

}





#star {
  width: 90%;
  height: 90%;
}

.input-field {
    width: 100%;
    margin-bottom: 25px;
}

